@import 'styles/common';

.services {
  padding-top: 70px;
  margin-bottom: 100px;
}

.services__container {
  display: flex;
  gap: 32px;
}

.services__content {
  flex: 0 1 50%;
  align-self: center;
}

.services__items {
  flex: 0 1 50%;
  display: flex;
  gap: 32px;
  justify-content: center;
}

.services__column:first-child {
  padding-top: 48px;
}

.services__item:not(:last-child) {
  margin-bottom: 32px;
}

.item_service {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  padding: 55px 25px;
  display: block;
}

.item_service__icon:not(:last-child) {
  margin-bottom: 16px;
}

.item_service__title {
  font-size: 19px;
  font-weight: 400;
  color: #fff;
  line-height: 1.42; /* 27/19 */
}

.item_service__title:not(:last-child) {
  margin-bottom: 10px;
}

@media (max-width: 1100px) {
  .services__container {
    flex-direction: column;
  }

  .services__header .header_main__title,
  .services__header .header_main__text {
    max-width: none;
  }
}

@media (max-width: 991.98px) {
  .services {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 767.98px) {
  .services {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 620px) {
  .services__items {
    flex-direction: column;
  }

  .services__column:first-child {
    padding-top: 0px;
  }
}
