@import 'styles/common';

.why {
  padding-top: 100px;
  padding-bottom: 100px;
}

.why__container {
  display: flex;
  column-gap: 64px;
  row-gap: 32px;
}

.why__images {
  flex: 0 1 50%;
}

.images_why {
  display: flex;
  position: relative;
  align-self: flex-end;
}

.images_why__item {
  overflow: hidden;
}

.images_why__item img {
  max-width: 100%;
}

.images_why__item_1 {
  border-radius: 90% 0 49% 49% / 50% 0 31% 31%;
}

.images_why__item_2 {
  align-self: flex-end;
  border-radius: 50% 50% 50% 0;
}

.why__content {
  flex: 0 1 50%;
  align-self: center;
}

.images_why::before {
  content: '';
  background: url('/img/Decor.svg') 0 0 / 100% no-repeat;
  width: 122px;
  height: 122px;
  position: absolute;
  bottom: -10px;
  left: -34px;
}

@media (max-width: 991.98px) {
  .why {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 767.98px) {
  .why {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .why__container {
    flex-direction: column-reverse;
  }
}
