@import 'styles/common';

.main {
  padding-top: 160px;
  padding-bottom: 100px;
}

.main__container {
  display: flex;
  gap: 32px;
}

.main__content {
  flex: 0 1 50%;
  align-self: center;
}

.main__header {
  position: relative;
}

.main__header::before {
  content: '';
  background: url('/img/Decor.svg') 0 0 / 100% no-repeat;
  width: 122px;
  height: 122px;
  position: absolute;
  top: -10px;
  left: -34px;
}

.main__images {
  flex: 0 1 50%;
}

.images_main {
  display: flex;
  gap: 9.615385%;
  justify-content: center;
}

.images_main__column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.images_main__item {
  border-radius: 50% / 29%;
  overflow: hidden;
}

.images_main__item_1,
.images_main__item_4 {
  border-radius: 50% / 29%;
  overflow: hidden;
}

.images_main__item_2 {
  border-radius: 50% 50% 0 50%;
}

.images_main__item_3 {
  border-radius: 50% 0 50% 50%;
}

.images_main__item img {
  max-width: 100%;
}

@media (max-width: 991.98px) {
  .main {
    padding-top: 120px;
    padding-bottom: 60px;
  }
}

@media (max-width: 767.98px) {
  .main {
    padding-top: 100px;
    padding-bottom: 30px;
  }

  .main__container {
    flex-direction: column;
  }

  .main__content {
    align-self: stretch;
  }
}
