@import 'styles/common';

.header-main__label {
  display: inline-block;
  border: 1px solid rgba(129, 129, 139, 0.2);
  border-radius: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #9c9c9c;
  padding: 11px 18px;
  transition: border 0.3s ease 0s;
}

.header-main__label:hover {
  border: 1px solid rgba(129, 129, 139, 0.4);
}

.header-main__label:not(:last-child) {
  margin-bottom: 19px;
}

.header-main__title {
  font-weight: 500;
  font-size: 51px;
  line-height: 1.19; /* 61/51 */
  color: #fff;
  position: relative;
}

.header-main__title:not(:last-child) {
  margin-bottom: 28px;
}

.header-main__text {
  line-height: 1.5;
  font-size: 18px;
  color: #9c9c9c;
}

.header-main__text:not(:last-child) {
  margin-bottom: 33px;
}

.header-main__body {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.header-main__body .header-main__text {
  margin: 0;
}

.header-main__body .header-main__actions {
  align-self: flex-end;
  flex: 0 0 auto;
}

.header-main__body .header-main__title {
  max-width: none;
}

.header-main__body .header-main__text {
  max-width: 740px;
}

.header-main__actions {
  display: flex;
  column-gap: 32px;
  row-gap: 15px;
}

.header-main__button {
  align-self: flex-end;
}

.header-main__list li {
  position: relative;
  min-height: 32px;
  padding-left: 40px;
  color: #9c9c9c;
  padding-top: 4px;
  line-height: 1.5; /* 24/16 */
}

.header-main__list li:not(:last-child) {
  margin-bottom: 16px;
}

.header-main__list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background: rgba(129, 129, 139, 0.1) url('/img/Li.svg') center no-repeat;
}

@media (max-width: 991.98px) {
  .header-main__title {
    font-size: 44px;
  }
}

@media (min-width: 768px) {
  .header-main__title {
    max-width: 520px;
  }
  .header-main__text {
    max-width: 500px;
  }
}

@media (max-width: 767.98px) {
  .header-main__title {
    font-size: 32px;
  }
  .header-main__title:not(:last-child) {
    margin-bottom: 15px;
  }
  .header-main__text:not(:last-child) {
    margin-bottom: 15px;
  }
  .header-main__body {
    flex-direction: column;
    gap: 0;
  }
}

.header-main__body .header-main__actions {
  align-self: flex-start;
}

@media (max-width: 479.98px) {
  .header-main__actions {
    flex-direction: column;
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(13, 13, 17, 1);
}

.header__container {
  display: flex;
  column-gap: 35px;
  align-items: center;
  min-height: 116px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header__menu {
  flex: 1 1 auto;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 35px;
  row-gap: 3px;
  justify-content: flex-end;
}

.menu__link {
  display: block;
  font-size: 16px;
  color: #fff;
  line-height: 1.62; /* 26px/16 */
}

.menu__link:hover {
  text-decoration: underline;
}

.cart_header {
  color: #fff;
  align-items: center;
  display: flex;
  gap: 5px;
}

.cart_header:hover .cart_header__text {
  text-decoration: underline;
}

.cart_header__text {
  font-size: 18px;
  line-height: 1.55; /* 28/18 */
}

.cart_header__quantity {
  background: rgba(129, 129, 139, 0.3);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.header__button {
  flex: 0 0 auto;
}

.icon_menu {
  display: none;
}

.header__logo,
.header__cart,
.header__button {
  position: relative;
  z-index: 5;
}

@media (max-width: 991.98px) {
  .header__container,
  .menu__list {
    column-gap: 25px;
  }
  .header__container {
    min-height: 90px;
  }
}

@media (max-width: 767.98px) {
  .header__container,
  .menu__list {
    column-gap: 15px;
  }
  .icon_menu {
    display: block;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
  .icon_menu span,
  .icon_menu::before,
  .icon_menu::after {
    content: '';
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s ease 0s;
  }
  .icon_menu::before {
    top: 0;
  }
  .icon_menu::after {
    bottom: 0;
  }
  .icon_menu span {
    top: calc(50% - 1px);
  }
  .menu_open .icon_menu span {
    width: 0;
  }
  .menu_open .icon_menu::before {
    top: calc(50% - 1px);
    transform: rotate(-45deg);
  }
  .menu_open .icon_menu::after {
    bottom: calc(50% - 1px);
    transform: rotate(45deg);
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    left: -100%;
    top: 0;
    padding: 100px 15px 30px 15px;
    overflow: auto;
    transition: left 0.3s ease 0s;
  }
  .menu__body::before {
    content: '';
    width: 100%;
    position: fixed;
    top: -100%;
    left: 0;
    height: 70px;
    background-color: #000;
    z-index: 2;
    transition: left 0.3s ease 0s;
  }
  .menu__list {
    row-gap: 10px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .menu__link {
    font-size: 32px;
  }
  .header__container {
    min-height: 70px;
  }
}

.menu_open .menu__body,
.menu_open .menu__body::before {
  left: 0;
}

@media (max-width: 560px) {
  .header__logo {
    width: 38px;
    overflow: hidden;
    flex: 0 0 38px;
  }
  .cart_header__text {
    display: none;
  }
}
