@import 'styles/common';

.testimonials {
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 1310px;
  margin: auto;
}

.testimonials__header {
  margin-bottom: 64px;
}

.testimonials__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.item_testimonial {
  padding: 64px 40px;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.user_testimonial {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user_testimonial__avatar {
  flex: 0 0 68px;
  overflow: hidden;
}

.user_testimonial__avatar img {
  max-width: 100%;
  transform: scale(1.02);
}

.user_testimonial__avatar_1 {
  border-radius: 0 50% 50% 50%;
}

.user_testimonial__avatar_2 {
  border-radius: 50% 0 50% 50%;
}

.user_testimonial__avatar_3 {
  border-radius: 50% 50% 0 50%;
}

.user_testimonial__title {
  line-height: 1.5;
  color: #fff;
}

.user_testimonial__title:not(:last-child) {
  margin-bottom: 7px;
}

.user_testimonial__company {
  font-size: 14px;
  line-height: 1.57; /* 22/14 */
}

.item_testimonial__title {
  font-size: 32px;
  color: #fff;
  line-height: 1.4; /* 45/32 */
}

.item_testimonial__text {
  font-size: 16px;
  flex: 1 1 auto;
  line-height: 1.5; /* 24/16 */
}

@media (max-width: 1100px) {
  .testimonials__items {
    grid-template-columns: auto;
  }
}

@media (max-width: 991.98px) {
  .testimonials {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 1rem;
  }

  .testimonials__header {
    margin-bottom: 40px;
  }
}

@media (max-width: 767.98px) {
  .testimonials {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .item_testimonial {
    padding: 30px 15px;
  }
}
